html{
  background: rgb(232,223,254);
  background: linear-gradient(202deg, rgba(232,223,254,1) 60%, rgba(177,125,255,1) 40%);
  background-repeat: no-repeat;
  min-height: 100%;
  font-family: 'Hahmlet', serif;
}
.container{
  margin: 5% 40%;
}
#heading{
  background-color: rgba(177,125,255,1);
  color: #fff;
  text-align: center;
  font-size: 12px;
  line-height: 45px;
}
.box{
  background-color: #fff;
}
.item{
  display: flex;
  flex-direction: row;
  padding-left: 10px;
  border-bottom: 0.1px solid #e6e6e6;
}
p{
  margin-left: 20px;
  color: #666666;
}
input[type="checkbox"]{
  width: 12px;
}
input:checked+p{
  text-decoration: line-through;
}
input[type="text"]{
  height: 50px;
  width: 80%;
  margin: 5px 0;
  border: none;
  text-align: center;
  font-size: 16px;
}
input[type="text"]:focus{
  outline: none;
  border-bottom: 3px solid rgba(177,125,255,1);
}
button{
  width: 14%;
  margin: 10px 0;
  height: 42px;
  border-radius: 50%;
  border: none;
  background-color: rgba(177,125,255,1);
  color: #fff;
  font-size: 30px;
}
.delete{
  width: 12%;
  height: 35px;

}
